#################
## Grunt Stuff ##
#################
node_modules
.sass-cache

#################
## Maven Stuff ##
#################
target

###################
## Eclipse Stuff ##
###################
build
classes
.project
.classpath
.settings
WebContent/META-INF/context.xml

######################
## Windows detritus ##
######################

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
/target/

##########################
## Sensitive Stuff Bruh ##
##########################
client_secret.json
mysql.properties
mailer.properties
