html, body {
  background-color: #161c20;
}

body {
  color: #ffffff;
}

.col-text-container {
  text-align: center;
}

.col-text-container h1 {
  font-size: 180px;
  font-weight: bold;
}

.col-text-container p {
  font-size: 22px;
}

.four-o-four-image {
  position: absolute;
  right: 0;
  bottom: 50px;
  height: 50%;
  max-height: 651px;
}

@media (max-width: 600px) {
  .four-o-four-image {
    position: absolute;
    bottom: 70px;
  }
}