/** carousel **/
@media (max-width: 767px) {
  .carousel {
    display: none;
  }
}
.carousel .carousel-control > i {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
}

.carousel .carousel-inner .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: 768px) {
  .carousel .carousel-inner .item {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .carousel .carousel-inner .item {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .carousel .carousel-inner .item {
    height: 400px;
  }
}

/** active event alert **/
.alert-active-event {
  margin-top: 30px;
}

.alert-active-event > div{
  display: inline-block;
  vertical-align: top;
}

.alert-active-event > .active-event-container{
  padding-left: 10px;
}

/** events **/
.event-container .event {
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid 1px #CFD8DC;
}

.event-container:nth-of-type(odd) .event {
  background-color: #ECEFF1;
}

.event-container .event .event-info {
  height: 100%;
}

.event-container .event .event-info .event-name {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #BDBDBD;
  font-size: 16px;
}

.event-container .event .schedule .thumbnail {
  margin-bottom: 10px;
}

.event-container .event .schedule .date-title {
  margin-top: 0;
  text-align: center;
}

.event-container .event .schedule dt {
  font-size: 15px;
}

.event-container .event .schedule dl {
  margin-bottom: 0;
}

.event-container .event .schedule i {
  color: #1E88E5;
}