/** carousel **/
@media (max-width: 767px) {
  .carousel {
    display: none;
  }
}
.carousel .carousel-control > i {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
}

@media (min-width: 768px) {
  .carousel .carousel-inner .item-outer {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .carousel .carousel-inner .item-outer {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .carousel .carousel-inner .item-outer {
    height: 400px;
  }
}

.carousel .carousel-inner .item-inner {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/** active event alert **/
.alert-active-event {
  margin-top: 30px;
}

.alert-active-event > div{
  display: inline-block;
  vertical-align: top;
}

.alert-active-event > .active-event-container{
  padding-left: 10px;
}

.alert-subscribed-success {
  margin-top: 30px;
}